@page
<head>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="@Url.Content("~/Styles/RazorCalendarsPlugin/RazorCalendars.css")" rel="stylesheet" type="text/css" />
</head>

<div class="heading">
    <h1>Razor Calendars Plugin</h1>
    <div class="sub-heading">
        <i>This page is a navigator between 3 types of calendars provided by Razor Calendars plugin.</i>
    </div>
</div>
<div class="description">
    <h2>FEATURES</h2>
    <ul>
        <li>Each one of them represents one way of using RAZOR within SYMFONY app.</li>
        <li>Showing how to achieve desired results by combining RAZOR engine ane SYMFONY default TWIG engine.</li>
    </ul>
    <h2>REQUIREMENTS</h2>
    <ul>
        <li></li>
    </ul>
</div>
<div class="col-12">
    <div class="col-md-4 col-12 calendar-link"></div>
    <div class="col-md-4 col-12 calendar-link"></div>
    <div class="col-md-4 col-12 calendar-link"></div>
</div>