**/.vs
**/obj/
**/bin/
**/var/
**/vendor/
Peachpied-Symfony/empty-page-php-latest/
Peachpied-Symfony/empty-page-project-refs/
Peachpied-Symfony-Nuget-Repository/
Tasks/temp/
.gitattributes
*.cache
*.nupkg
.idea/
Compiler Tests/
**/Additional-Tools/**/packages
