body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
	background-color: #EFEFEF;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.25rem;
}

h1, h2, h3, h5 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    box-sizing: border-box;
    filter: brightness(90%);
    border: 2px solid #7bff00;
}

a:active {
    box-sizing: border-box;
    filter: brightness(75%);
    border: 2px solid #7bff00;
}

.left {
	float: left;
	text-align: -webkit-left;
}

.right {
	float: right;
	text-align: -webkit-right;
}

.tile div {
    display: inline-block;
    vertical-align: middle;
}

.tile-row {
    display: block;
    width: 565px;
    margin-left: auto;
    margin-right: auto;
}

.tile {
    width: 250px;
    height: 250px;
    margin: 15px;
    display: inline-block;
    position: relative;
    text-align: center;
}

    .tile:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 1px;
    }

    .tile.t1 {
        background-color: #A30000;
    }

    .tile.t2 {
        background-color: #FF7700;
    }

    .tile.t3 {
        background-color: #d9bf80;
    }

    .tile.t4 {
        background-color: #00AFB5;
    }

@media only screen and (max-width: 600px) {
    .tile-row {
        width: auto;
    }

    .tile {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.bands-wrapper {
    padding: 10px 20px;
    text-align: center;
}

.band-wrapper {
    display: inline-block;
    width: 300px;
    margin: 5px;
    background-color: #fff;
    vertical-align: top;
    text-align: left;
}

.band-wrapper h3 {
	font-size: 1.5rem;
	color: #352510;
	margin: 10px 0 0 0;
}

.band-content {
	padding: 0 10px 10px 10px;
}

.band-desc {
	font-style: italic;
	font-size: 0.8rem;
}

.calendar-wrapper {
	display: flow-root;
}

.calendar-wrapper h4 {
	margin: 0 0 10px 0;
}