.main-content {
    margin-top: 50px;
    Background: #fff;
}

.inner-margin{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.outer-container{
    Background: #efefee;
}

footer.footer {
    margin-top: 50px;
    margin-bottom: 25px;
}

.paddingless{
    margin-left: 0;
    margin-right: 10px;
    padding-left: 0;
    padding-right: 0;
}

.btn-made-sport{
    font-size: 18px;
    text-align: center;
}

.highlighted, .fa-times{
    color: #FF3D49
}

.stats>h3, .stats>h2{
    margin-top: 3px;
    margin-bottom: 5px;
    height: 10px;
}

/*LOGIN*/

.btn-login {
    background-color: #FF3D49;
    outline: none;
    color: #fff;
    border-color: #FF3D49;
}
.btn-login:hover{
    color: #fff;
    background-color: #ba0422;
    border-color: #ba0422;
}
.btn-login:focus {
    color: #fff;
    background-color: #960005;
    border-color: #960005;
}

.btn-tri-state {
     background-color: #e0d9e0;
     outline: none;
     color: #fff;
     border-color: #e0d9e0;
 }
.btn-tri-state:hover{
    color: #fff;
    background-color: #ccc3cb;
    border-color: #ccc3cb;
}
.btn-tri-state:focus {
    color: #fff;
    background-color: #968c90;
    border-color: #968c90;
}

.btn-accepted {
    background-color: #2fea5b;
    outline: none;
    color: #fff;
    border-color: #2fea5b;
}
.btn-accepted:hover{
    color: #fff;
    background-color: #2ad352;
    border-color: #2ad352;
}
.btn-accepted:focus {
    color: #fff;
    background-color: #21a641;
    border-color: #21a641;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: 100%;
    padding: 10px;
}

.full-div-button{
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.form-control:focus{
    border-color:#FF3D49;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(224, 0, 39, 0.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(224, 0, 39, 0.6)
}

.form-pos-field{
    margin-left: 20px;
    margin-top: 20px;
}

/*INDEX*/

.lips {
    height: 30px;
    width: auto;
    padding-right: 15px;
}

.round-border{
    border-radius: 5px;
}

.leaderboard {
    padding: 10px;
    border-radius: 15px;
}

.leaderboard-table {
    border: 2px solid transparent;
    margin-bottom: 5px;
}

.leaderboard-table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.leaderboard-table-striped>tbody>tr:nth-of-type(even) {
    background-color: #fff;
}

.leaderboard-table-leaders>tbody>tr:nth-of-type(1) {
    background-color: #FF3D49;
}

.leaderboard-table-leaders>tbody>tr:nth-of-type(2) {
    background-color: #ff777e;
}

.leaderboard-table-leaders>tbody>tr:nth-of-type(3) {
    background-color: #ffcfd1;
}

.leaderboard-table>tbody>tr>td>a{
    color:#000000;
}

.leaderboard-table > thead > tr > th {
    border-bottom: 2px solid transparent;
    background-color: #ff2130;
    color: #fff;
}

.leaderboard-table-hover>tbody>tr:hover {
    background-color: #ff2130;
    color: #fff;
}

.leaderboard-table-hover>tbody>tr>td>a:hover {
    color: #fff;
}

.cat-count {
    font-size: .9em;
}

.navbar-brand{
    text-align: center;
    padding-top: 22px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: 15px;
    display: block;
    height: 100%;
}

.navbar-item:hover{
    color: #FFEEB0;
    background-color: #FD3B3F;
}



.navbar-brand:active, .navbar-item-l:active{
    background-color: #ab001f;
}

.pull-right{
    text-align: right;
}

.pull-left{
    text-align: left;
}

.pull-up {
    vertical-align: top;
}

.h2Head{
   margin-bottom: 50px;
}

.js-sp-error{
    margin-left: 20px;
}

.dominant-cell{
    width: 100%;
    max-width: 100%;
}

.margin-less-h4 {
    display: block;
    font-size: 1.5em;
    overflow-wrap: break-word;
    word-break: break-all;
}

.centered{
    text-align: center
}

.navbar-bg {
    background: url('../images/sportLogNav.png');
    background-size: 100% 100%;
}

.nav>li>a:focus,.nav>li>a:hover{
    text-decoration:none;
    background-color:transparent;
}
.nav .open>a,.nav .open>a:focus,.nav .open>a:hover{
    background-color:transparent;
}

.avatar{
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #EEEEEE;
}

.avatar:hover{
    -webkit-box-shadow:inset 0 0 8px rgba(255, 61, 73, 1),0 0 10px rgb(255, 238, 176);
    box-shadow:inset 0 0 8px rgba(255, 61, 73, 1),0 0 10px rgb(255, 238, 176)
}

.avatar:active{
    -webkit-box-shadow:inset 0 0 0 rgba(255, 61, 73, 1),0 0 15px rgb(255, 238, 176);
    box-shadow:inset 0 0 0 rgba(255, 61, 73, 1),0 0 15px rgb(255, 238, 176)
}

a{
    color: Black;
}

a:hover, a:focus, a:active{
    text-decoration: none;
    color: inherit;
}

.js-headline, .js-sorting{
    cursor: pointer;
}

.row{
    margin-top: 20px
}

.clickable-row:hover{
    cursor: pointer;
}

.js-sorting:hover{
    background-color: #ab001f;
}

.minimal-padding{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    margin-left: 5px;
    margin-bottom: 0;
    margin-right: 5px;
}

.select-w-image-sp, .select-w-image-chal{
    border: 3px dotted #cbcbcb;
    background-size: 100%;
    font-weight: bolder;
    background-color: #EEEEEE;
    height: 180px;
    padding-top: 50px;
    max-width: 180px;
    width: 180px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: unset;
    font-size: medium;
    text-align-last: center;
}

.select-w-image-chal{
    background-image: url("../images/challenges_choose.png");
}

.select-w-image-sp{
    background-image: url("../images/sports_choose.png");
}

.select-w-image>option{
    font-weight: normal;
    background-color: White;
}

.select-w-image:hover{
    cursor: pointer;
    border-color: #FF3D49;
}

.select-w-image::-ms-expand {
    display: none;
}

.btn-min{
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-right: 2px;
    padding-left: 2px;
}

input[type=radio] {
    border: 3px dotted #cbcbcb;
    padding: 0.5em;
    width: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: unset;
    background-color: #EEEEEE;
    color: #cbcbcb;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 4px;
    margin-right: 4px;
}


.age-checkbox{
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    background-color: #fff;
    color: #fff;
}

.radio-male:checked {
    color: #71A7FF;
}

.radio-female:checked {
    color: #FF6E7C;
}

.radio-nonele:checked {
    color: #66FF5C;
}

input[type=radio]:focus {
    outline-color: transparent;
}

input[type=radio],input[type=checkbox] :hover {
    cursor: pointer;
}

.no-padding{
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
}

.message-input{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px dotted rgba(0,0,0,0.1);
    background-color: #EEEEEE;
    font-size: large;
    padding-left: 10px;
}

.message-input:focus{
    outline-color: transparent;
    border-color: #FF3D49;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.apply-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.no-shadow{
    -moz-box-shadow:    0 0 0 0 #fff;
    -webkit-box-shadow: 0 0 0 0 #fff;
    box-shadow:         0 0 0 0 #fff;
}

.my-img-style, .my-img-style-static{
    background-color: #eee;
    border: 3px dotted #cbcbcb;
}

.inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    cursor: pointer; /* "hand" cursor */
}
.inputLabel, .my-img-style{
    cursor: pointer; /* "hand" cursor */
}

.inputLabel:hover{
    border: solid;
    border-width: thin;
}

.inputLabel:hover, .my-img-style:hover{
    border-color:#FD3B3F;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(224, 0, 39, 0.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(224, 0, 39, 0.6)
}

.inputLabel:active,.inputLabel:focus, .my-img-style:active{
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 15px rgba(224, 0, 39, 0.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 15px rgba(224, 0, 39, 0.6)
}

.active-tab{
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-color: #FF3D49;
    transition: border-bottom-width 0.1s linear
}






















