<form class="js-new-chalsp-log-form" novalidate data-url="{{ path(dataName|lower ~ '_new') }}"
      style="margin-bottom: 50px; width: 100%">

    <table align="left" style="width:100%; margin-bottom: 25px">
        <tr style="text-align: center">
            <td valign="top">
                <div class="form-group" style="margin-left: 25px; margin-right: 25px; margin-top: 0">
                    <label for="file">
                        <img id="imageId" src="{{ asset('assets/images/selectImg.png') }}" onerror="imageError(this)"
                             class="img-rounded my-img-style" width="300px" height="300px" style="border-radius: 25px"/>
                        <input type="file" name="file" id="file" class="inputFile" onchange="readURL(this);" />
                    </label>
                </div>
            </td>

            <td class="dominant-cell" style="max-width: 100%; padding-left: 25px; padding-right: 25px;">
                <table width="100%">
                    <tr style="text-align: center; width: 100%">
                        <td><h2 style="text-align: right; margin-right: 15px;">- </h2></td>
                        <td width="50%">
                            <div class="form-group" style="width: 100%">
                                <strong>
                                <input type="text" class="form-control form-pos-field" name="name" maxlength="15"
                                       placeholder="{{  dataName }} Name" required="required"
                                        style="margin-left: 0; text-align: center">
                                </strong>
                            </div>
                        </td>
                        <td><h2 style="text-align: left; margin-left: 15px;">- </h2></td>
                    </tr>
                    {% if points %}
                        <tr style="text-align: center; width: 100%; color: Gray">
                            <td></td>
                            <td width="50%">
                                <div class="form-group">
                                    <h4 style="text-align: right; margin-right: 15px; display: inline"><i>( </i></h4>
                                    <div style="display: inline">
                                        <i>
                                            <input type="number" name="points"
                                                   required="required"
                                                   placeholder="#"
                                                   oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                                   maxlength = "2"
                                                   class="form-control form-pos-field"
                                                   style="width: 4em; margin-left: 1px; display: inline; color: Gray"/>
                                        </i>
                                    </div>
                                    <h4 style="text-align: left; margin-left: 15px; display: inline"><i>pts )</i></h4>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    {% else %}
                        <tr style="text-align: center; width: 100%; color: Gray">
                            <td></td>
                            <td width="50%">
                                <div class="form-group">
                                    <h4 style="text-align: right; display: inline"><i>x</i></h4>
                                    <div style="display: inline">
                                        <i>
                                            <input type="number" name="multiplier"
                                                   required="required"
                                                   placeholder="multiplier"
                                                   oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                                   maxlength = "3" step="0.1" max="9.9"
                                                   class="form-control form-pos-field"
                                                   style="width: 7em; margin-left: 1px; display: inline; color: Gray"/>
                                        </i>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    {% endif %}
                </table>
                <div class="form-group">
                    <textarea class="form-control form-pos-field" name="description"
                              style="width: 100%; margin-left: 0; resize: none;" maxlength="1000"
                              placeholder="{{  dataName }} Description" required="required" rows="8"></textarea>
                </div>
            </td>
        </tr>
    </table>
    <div style="margin-bottom: 50px; text-align: center; width: 100%">
        <input type="submit" class="btn btn-login btn-made-sport form-group"
               value="submit">
    </div>
</form>