<div align="center" style="margin-top: 50px; margin-bottom: 50px">
    <img src="{{ asset('assets/images/in-progress.png') }}" class="img-circle my-img-style-static"
         height="250" width="250" onerror="imageError(this)">
    <h1><strong>Workin' On It...</strong></h1>
    <h3 style="color: Gray">Don't worry! Something amazing is going to appear there pretty soon!</h3>
</div>