@page

<html>
<head>
	<title>Signpost | RAZOR with embedded TWIG without Symfony</title>
    <link rel="stylesheet" href="~/Content/GeneralStyles.css" type="text/css">
</head>
<body>
	<h1>RAZOR with embedded TWIG without Symfony</h1>
	<h3>minimal exmaple - signpost </h3>
	<div class="tile-row">
		<a href="/razor-page" class="tile t1"><div><h2>Razor Page</h2></div></a>
		<a href="/twig-in-razor-page" class="tile t3"><div><h2>Razor Page</h2><h5>with embedded Twig</h5></div></a>
	</div>
</body>
</html>